.header {
    background: linear-gradient(to bottom, #e7bdffaf, #fbf1f3);
    border-bottom: 1px solid rgba(171, 171, 171, 0.026);
}
.nav a {
    margin-right: 20px;
    color: rgb(120, 120, 120);
    transition: color 0.2s ease-in-out;
}
.nav a:hover {
    color: rgb(0, 0, 0);
}

.nav img {
    width: 60px;
    height: 60px;
}